<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taskmaster</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/reset.css" rel="stylesheet"/>
    <link href="/styles.css" rel="stylesheet"/>
    <!--Executed by the browser-->
    <link href="/reset.css" rel="stylesheet"/>
    <link href="/styles.css" rel="stylesheet"/>
    <!--<div th:replace="fragments/head :: headContent"></div>-->

</head>
<body>
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('https://cdn.pixabay.com/photo/2017/02/18/11/00/checklist-2077020_960_720.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Welcome to Taskmaster</h3>
                    <p class="lead">A checklist for your daily needs.</p>
                </div>
            </div>
        </div>

    </div>
</header>

<section class="py-5">
    <div class="container">
        <h1 class="font-weight-light">Why TaskMaster?</h1>
        <p class="lead">Go to /tasks to view all the task list</p>
        <br>
        <br>
        <h1 class="font-weight-light"></h1>
        <p class="lead"></p>
    </div>
</section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>

</html>